<nav class="sticky top-0 z-10 py-5 bg-gray-900 border-b-1 border-primary">
  <div class="container flex items-center justify-between mx-auto max-w-7xl">
    <div>
      <%= link_to 'ClientFirst Labs Ltd.', root_path, class: 'navbar-link text-secondary text-2xl font-bold' %>
    </div>

    <div class="flex items-center space-x-4">
      <%# <%= link_to 'About', "", class: 'navbar-link'  %>
      <%# <%= link_to 'Services', "", class: 'navbar-link'  %>
      <%# <%= link_to 'Testimonials', "", class: 'navbar-link'  %>
      <%#  link_to 'Contact us', "", class: 'btn-primary btn-lg' %>
    <div>
      <button data-action="click->scroll-into-view#scrollToElement" class="btn-primary btn-lg">Contact us</button>
    </div>
    </div>
  </div>
</nav>
