<div class="flex flex-col items-center justify-center w-[475px] rounded-xl-box-shadow py-12 px-8 bg-gray-800 relative">
  <div class="w-full h-full px-12 py-8 border border-primary">
    <p class="mt-8 text-center"><%= message %></p>
  
    <div class="absolute bottom-0 flex flex-col items-center p-2 bg-gray-800">
      <h5 class="text-white"><%= name %></h5>
      <p><%= title %> - <%= company %></p>
    </div>
  </div>
</div>
