@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background-black: theme("colors.background-black");
  --background-navy: theme("colors.background-navy");
  --primary: theme("colors.primary"); */
  /* --secondary: theme("colors.secondary"); */
  /* --accent: theme("colors.accent");
  --light: theme("colors.light");
  --black: theme("colors.black");
  --gray: theme("colors.gray"); */
}

@layer base {
  html {
    @apply text-[16px] h-full w-full text-white;
  }

  h1 {
    @apply mb-4 text-3xl font-bold leading-tight tracking-wide sm:text-4xl md:text-5xl;
  }

  h2 {
    @apply mb-4 text-2xl font-bold leading-tight tracking-wide sm:text-3xl md:text-4xl;
  }

  h3 {
    @apply mb-3 text-xl font-bold leading-tight tracking-wide sm:text-2xl md:text-3xl;
  }

  h4 {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl leading-tight font-bold mb-2.5 tracking-wide;
  }

  h5 {
    @apply mb-2 text-base font-bold leading-tight sm:text-base md:text-lg;
  }

  h6 {
    @apply text-sm sm:text-base md:text-lg leading-tight font-bold mb-1.5;
  }

  p {
    @apply text-base leading-relaxed text-gray-300;
  }

  a {
    @apply text-blue-500 underline hover:text-blue-700;
  }

  ul {
    @apply pl-6 mb-4 list-disc;
  }

  ol {
    @apply pl-6 mb-4 list-decimal;
  }

  li {
    @apply pl-1 mb-2 text-gray-300;
  }

  img {
    @apply flex items-center justify-center object-cover w-full h-full;
  }

  section {
    @apply flex flex-col w-full px-4 py-16 sm:px-8 md:px-24 md:py-20;
  }
}

@layer components {
  .btn-primary {
    @apply text-gray-900 no-underline border-transparent btn bg-primary max-w-52;
  }

  /* .btn-secondary {
    @apply text-white border-transparent btn bg-secondary;
  } */

  /* .btn-outline {
    @apply bg-white border-secondary text-secondary btn;
  } */

  .btn-link {
    @apply underline border-transparent btn text-accent;
  }

  .pill {
    @apply px-3 py-2 bg-gray-700 rounded-full whitespace-nowrap;
    & > * {
      @apply font-semibold text-md text-primary;
    }
  }

  .grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 100%;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
  }
  
  .grid-item img {
    width: 80px;
    height: 80px;
  }

  .grid-item p {
    margin-top: 10px;
    font-size: 16px;
  }

  .navbar-link {
    @apply text-gray-300 no-underline hover:text-yellow-400;
  }
}

@layer utilities {
  .btn {
    @apply flex items-center justify-center font-bold whitespace-nowrap all-corners-box-shadow;
    border-radius: 12px;
  }

  .btn-sm {
    @apply px-3 py-2 text-sm;
  }

  .btn-md {
    @apply px-4 py-3 text-md;
  }

  .btn-lg {
    @apply px-6 py-3 text-lg;
  }
  /* .btn:focus {
    outline: solid 3px;
  } */

  /* Button type variations */

  /* .btn-disabled {
    background-color: lightgrey;
    color: var(--primary);
    pointer-events: none;
  }

  .btn-outline-disabled {
    border-color: var(--outline);
    color: gray;
  } */

  .img-container {
    @apply overflow-hidden rounded-xl;
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }

  .flex-row-start {
    @apply flex items-center justify-start;
  }

  .flex-row-center {
    @apply flex items-center justify-center;
  }

  .icon {
    @apply w-4 aspect-1;
    filter: brightness(0) invert(1);
  }

  .content-container {
    @apply w-full mx-auto max-w-7xl;
  }

  .full-view-height {
    height: calc(100vh - 48px);
  }

  .rounded-xl-box-shadow {
    @apply rounded-xl;
    box-shadow: 7px 7px 15px #1f2937;
  }

  .rounded-lg-box-shadow {
    @apply rounded-xl;
    box-shadow: 3px 3px 10px #1f2937;
  }

  .all-corners-box-shadow {
    box-shadow: 0px 0px 6px 1px #ffd701;
  }

  .testimonial-box-shadow {
    box-shadow: 3px 4px 11px 1px rgb(55 65 81 / var(--tw-bg-opacity));
  }
}
